<div class="container">
  <h1>{{ title | uppercase }}</h1>
  <app-tooltip-button
    [key]="'interpolation'"
    [keyCode]="'interpolationCode'"
  ></app-tooltip-button>

  <p>Heroes:</p>
  <ul>
    <li *ngFor="let hero of heroes">
      {{ hero.name }}
    </li>
  </ul>
  <p>My favorite hero is: {{ myHero.name }}</p>

  <h2>Basics of two-way binding</h2>
  <app-banana-in-a-box></app-banana-in-a-box>

  <h2>User Input</h2>
  <p>
    The following example shows an event binding that implements a click handler
  </p>
  <app-click-me></app-click-me>
  <h2>$event object</h2>
  <input type="text" (keyup)="onKey($event)" />
  <p>{{ values }}</p>
</div>
