input[type="text"] {
  padding: 7px;
  outline: none;
}

button {
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 7px;
  text-transform: uppercase;
  background-color: #e7e7e7;
  color: #3a3a3a;
}

button:hover {
  background-color: #ebebeb;
  color: #292bb8;
}
