.explanationQuestion {
  font-size: 10px;
  color: #cccccc;
  margin-bottom: 2px;
}

.explanationText {
  color: #949494;
  font-size: 12px;
  text-align: center;
  background-color: #f1f1f1b7;
  border: 1px dashed #cccccc;
  padding: 15px 0;
  animation-duration: 0.1s;
  animation-name: slidedown;
}

.codeExample {
  color: #2407c5;
}

.tooltipBtn {
  width: 50px;
  height: 15px;
  border: none;
  border-radius: 2px;
  background-color: #f3f3f3;
  font-size: 8px;
  text-transform: uppercase;
  color: #757575;
  padding: 2px;
}

.tooltipBtn:hover {
  background-color: #e7e9ff;
}

.tooltipBtn:active {
  color: #2407c5;
}

@keyframes slidedown {
  from {
    margin-top: 3px;
  }
  25% {
    margin-top: 5px;
  }
  50% {
    margin-top: 7px;
  }
  75% {
    margin-top: 9px;
  }
  to {
    margin-top: 10px;
  }
}
